@import "variables";

.pageContactUs {
    background-image: image-url("contactBanner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
	color: black;
    height:auto;
}

.bioLink {
    font-weight: 900 !important;
}

.title3 {

    width:auto;
    color:  rgb(68,109,136);
    padding-bottom: 5px;
	padding: 20px 0px;
    background-color: rgba(255,255,255,0.5);
}

.title3 h1 {
	font-size: 2em;
	letter-spacing: 5px;

    @media (min-width: $screenMobile) {
        font-size: 4em;
    }
}


.contact-us-container {

	padding-bottom: 30px;
	background-color: whitesmoke !important;
	color: #555555;

	.contact-us-content {
		background-color: white !important;
		text-align: center !important;
        box-shadow: $zdepth1;
		border-radius: 0px;
		box-shadow: $zdepth1;
        height: 500px !important;
        
        a {
            color: black;
        }
        
        a:hover {
            color: #3b5998;
        }
	}

	.contact-us-box {
		padding: 25px;

        iframe {
            pointer-events: none;
        }
	}

	.social-media-box {
		padding: 25px;

		.fa {
			font-size: 3em;
			margin: 0 15px;
		}

		.fa-facebook {
			color: #3b5998;

			&:hover {
				color: #4b69a8;
			}
		}

		.fa-twitter {
			color: #00aced;

			&:hover {
				color: #00ccfd;
			}
		}

		.fa-linkedin {
			color: #007bb5;

			&:hover {
				color: #009bd5;
			}
		}
	}

	.fa-envelope {
		color: #FFCC00;
	}

	.large-icon {
		font-size: 3em;
		padding-bottom: 20px;
	}

	.finsoc-email {
		font-weight: 900 !important;
	}
}
