/*==================== Top Bar color ====================*/
.ti-trhead .ti-head-detail .info-left li a , .ti-trhead .ti-head-detail li a i, .ti-trhead .ti-head-detail .info-right li a {
	color: #fff;
}
.ti-trhead .ti-head-detail li a i {
	color: #50b9ce;
}
.ti-trhead .ti-head-detail .info-right li a i {
	color: #fff;
}
.ti-trhead.conte .ti-head-detail .ti-social li a, .ti-trhead.conte .ti-head-detail .ti-social li a i {
	color: #fff;
}
.ti-trhead.conte .ti-head-detail .ti-social li a:hover i, .ti-trhead.conte .ti-head-detail .ti-social li a i:hover {
	color: #50b9ce;
}
/*=== navbar transparent colors ===*/ 
.ti-trhead .navbar-wp {
	background: transparent;
}
.ti-trhead .navbar-header .navbar-brand {
	color: #fff;
}
/*=== navbar hover colors ===*/
.ti-trhead .navbar-wp .navbar-nav > li > a {
	color: #fff;
}
.ti-trhead .navbar-wp .navbar-nav > li > a:hover, .ti-trhead .navbar-wp .navbar-nav > li > a:focus, .ti-trhead .navbar-wp .navbar-nav > .active > a, .ti-trhead .navbar-wp .navbar-nav > .active > a:hover, .ti-trhead .navbar-wp .navbar-nav > .active > a:focus {
	color: #50b9ce;
}
.ti-trhead .navbar-wp .navbar-nav > .open > a, .ti-trhead .navbar-wp .navbar-nav > .open > a:hover, .ti-trhead .navbar-wp .navbar-nav > .open > a:focus {
	color: #50b9ce;
	border-color: #50b9ce;
}
.ti-trhead .navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}
/*=== navbar dropdown colors ===*/ 
.ti-search-box .ti-search .btn {
	background: #50b9ce;
	border-color: #50b9ce;
	color: #fff;
}
/*==================== Body & Global ====================*/
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], textarea {
	color: #9b9ea8;
	border-color: #eef3fb;
}
.form-control:hover, textarea:hover, input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-color: #50b9ce;
}
input[type="submit"], input[type="reset"], button {
	background: #50b9ce;
	border-color: #50b9ce;
	color: #fff;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover,input[type="submit"]:focus, input[type="reset"]:focus button:focus {
	background: #fff;
	border-color: #50b9ce;
	color: #50b9ce;
}
a {
	color: #50b9ce;
}
a:hover, a:focus {
	color: #002954;
}
.consultup-error-404 h1 i {
	color: #50b9ce;
}
/*==================== Slider ====================*/
#consultup-slider .slide-caption h1 > span {
	color: #50b9ce;
}
.btn.btn-tislider {
	background: #6EB8CA;
	color: #fff;
}
/*==================== service ====================*/
.consultup-service::after {
	background: #50b9ce;
}
.consultup-service-inner i {
	color: #6EB8CA;
}
.consultup-service.two .consultup-ser-two-inner {
    background: #012D4B;
}
.consultup-service.three::before, .consultup-service.three::after {
    background-color: #50b9ce;
}
.consultup-service.three .btn-theme:hover {
	color: #50b9ce;
	border-color: #50b9ce;
}
/*==================== portfolio ====================*/
.consultup-portfolio-box .overlay {
	background: rgba(0, 0, 0, 0.6);
}
.consultup-portfolio-box {
	background: #fff;
	border-color: #eaeaea;
}
.consultup-portfolio-block .inner-content {
	background: #50b9ce;
	opacity: 0.8;
}
.consultup-portfolio-box figure {
	border-color: #eaeaea;
}
.consultup-portfolio-box:hover .consultup-portfolio-box-caption {
	background: rgba(0,12,28,0.8);
}
.consultup-portfolio-box h4, .consultup-portfolio-box h4 a {
	color: #222;
}
.consultup-portfolio-box h4:hover, .consultup-portfolio-box h4 a:hover {
	color: #50b9ce;
}
.consultup-portfolio-category a {
	color: #b6b6b6;
}
.consultup-portfolio-category a:hover, .consultup-portfolio-category a:focus {
	color: #50b9ce;
}
.consultup-portfolio-box .overlay .btn {
	color: #fff;
}
.consultup-portfolio-box .overlay .btn:hover, .consultup-portfolio-box .overlay .btn:focus {
	color: #002954;
}
.consultup-portfolio-block .consultup-portfolio-category a {
    color: #fff;
}
.consultup-portfolio-block .inner-content .text h5 a {
    color: #fff;
}
.consultup-portfolio-block .inner-content .text .btn {
    background: #fff;
    color: #979797;
}
.consultup-portfolio-block .inner-content .text .btn:hover {
    background: #50b9ce;
    color: #fff;
}
/*==================== callout ====================*/
.consultup-callout .overlay {
	background: rgba(0, 41, 84, 0.8);
}
.consultup-callout h3, .ti-callout p {
	color: #fff;
}
/*==================== blog ====================*/
.consultup-blog-post-box h1.title, .consultup-blog-post-box h1.title a {
	color: #212121;
}
.consultup-blog-post-box h1.title:hover, .consultup-blog-post-box h1.title a:hover, .consultup-blog-post-box h1.title:focus, .consultup-blog-post-box h1.title a:focus {
	color: #50b9ce;
}
.consultup-blog-meta a:hover {
	color: #50b9ce;
}
.consultup-info-author-block .ti-info-author-social li:hover {
	background: #50b9ce;
	color: #fff;
}
/*---------testi widget---------*/
.testimonials_qute .sub-qute i {
    color: #6EB8CA;
}
.testimonials_qute .consultup-client {
	border-bottom-color: #6EB8CA;
	border-left-color: #6EB8CA;
	border-top-color: #e8e8e8;
	border-right-color: #e8e8e8;
}
/*==================== funfact ====================*/
.ti-funfact .overlay {
	background: #50b9ce;
}
.ti-funfact .overlay h3, .ti-funfact .overlay p {
	color: #fff;
}
.ti-funfact-inner {
	background: rgba(0,0,0,0.6);
}
.ti-funfact-inner .tittle {
	color: #fff;
}
.ti-funfact-inner span.counter {
	color: #fff;
}
.ti-funfact-inner i {
	background: #7FB6C7;
	color: #fff;
}
.ti-funfact-box-icon i {
    color: #fff;
}
.ti-funfact-inner h3 {
	color: #fff;
}
.ti-funfact-box-info h3 span, .ti-funfact-box-info .tittle {
	color: #fff;
}
/*==================== contact ====================*/
.widget_consultup_custom_widget h5, .consultup_contact_widget .ti-widget h6 {
	color: #212121;
	border-color: #eee;
}
.ti-widget-address li span.icon-addr i {
	color: #50b9ce;
}
.ti-widget-address > li {
	border-color: #eee;
}
/*==================== feature-product ====================*/
.ti-product{
	border-color: #eaeaea;
}
.ti-product a .onsale {
    background: #4caf50;
    color: #fff;
}
.ti-product a .price {
    color: #000;
}
.ti-product a .price ins {
    color: #e96656;
}
#product .ti-product a.button {
    background: #50b9ce;
    color: #fff;
    border-color: #50b9ce; 
}
#product .ti-product a.button:hover, #product .ti-product a.button:focus {
    background: #fff;
    color: #50b9ce;
    border-color: #50b9ce;
}
#feature-product .owl-controls .owl-buttons div {
	background: #fff;
	border-color: #fff;
	color: #002954;
}
#feature-product .owl-controls .owl-buttons div:hover {
	background: #50b9ce;
	border-color: #50b9ce;
	color: #fff;
}
#feature-product .owl-controls .owl-page span {
	border-color: #50b9ce;
}
#feature-product .owl-page.active {
	background: #50b9ce;
}
#feature-product .owl-page {
	background: rgba(0,0,0,0.6);
}
/*==================== Sidebar ====================*/
.consultup-sidebar .consultup-widget {
	border-color: #eee;
}
.consultup-sidebar .consultup-widget h6 {
	color: #212121;
}
.consultup-sidebar .consultup-widget h6::before {
	background: #50b9ce;
}
.consultup-sidebar .consultup-widget ul li {
	border-color: #eee;
}
.consultup-sidebar .consultup-widget ul li a {
	color: #757575;
}
.consultup-sidebar .consultup-widget ul li a:hover, .consultup-sidebar .consultup-widget ul li a:focus {
	color: #50b9ce;
}
.consultup-sidebar .consultup-widget .consultup-blog-post h3 a {
	color: #212121;
}
.consultup-sidebar .consultup-widget.widget_search .btn {
	color: #fff;
	background: #50b9ce;
}
.ti-sidebar .ti-widget.widget_search .btn:hover, .ti-sidebar .ti-widget.widget_search .btn:focus {
	background: #002954;
}
.ti-sidebar .ti-mailchimp-widget .btn {
	color: #fff;
	background: #50b9ce;
}
.ti-sidebar .ti-mailchimp-widget .btn:hover, .ti-sidebar .ti-mailchimp-widget .btn:focus {
	background: #002954;
}
.consultup-sidebar .consultup-widget .consultup-widget-tags a, .ti-sidebar .ti-widget .tagcloud a {
	background: #ebe9eb;
	color: #999;
}
.consultup-sidebar .consultup-widget .ti-widget-tags a:hover, .ti-sidebar .ti-widget .tagcloud a:hover, .ti-sidebar .ti-widget .ti-widget-tags a:focus, .ti-sidebar .ti-widget .tagcloud a:focus {
	color: #fff;
	background: #50b9ce;
	border-color: #50b9ce;
}
.ti-sidebar .ti-widget .ti-social li span.icon-soci {
	color: #50b9ce;
	border-color: #50b9ce;
}
.ti-sidebar .ti-widget .ti-social li span.icon-soci:hover {
	color: #fff;
	background: #50b9ce;
	border-color: #50b9ce;
}
.ti-sidebar .ti-widget .ti-social li span.icon-soci:hover i {
	color: #fff;
}
.ti-sidebar .ti-widget .ti-twitter-feed li::before {
	color: #50b9ce;
}
.ti-sidebar .ti-left-menu-widget ul li:hover, .ti-sidebar .ti-left-menu-widget ul li.active {
	background: #002954;
	color: #fff;
}
.ti-sidebar .ti-left-menu-widget ul li:hover a, .ti-sidebar .ti-left-menu-widget ul li.active a {
	color: #fff;
}
.ti-sidebar .ti-left-menu-widget ul li a {
	color: #212121;
}
/*==================== general ====================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
.btn-theme, .more-link {
	background: #6EB8CA;
	color: #fff;
	border-color: #6EB8CA;
}
.btn-theme:hover, .btn-theme:focus, .more-link:hover, .more-link:focus {
	background: #fff;
	color: #7FB6C7;
	border-color: #50b9ce;
}
.btn-theme-two {
	color: #fff;
	border-color: #fff;
	background: rgba(0,0,0,0);
}
.btn-theme-two:hover, .btn-theme-two:focus {
	background: #50b9ce;
	color: #fff;
	border-color: #50b9ce;
}
.btn-theme-three {
	color: #7FB6C7;
	border-color: #e9f3ed;
	background: rgba(0,0,0,0);
}
.btn-theme-three:hover, .btn-theme-three:focus {
	background: #50b9ce;
	color: #fff;
	border-color: #50b9ce;
}
.btn-blog:hover, .btn-blog:focus {
	background: #50b9ce;
	color: #fff;
	border-color: #50b9ce;
}
/*==================== pagination color ====================*/
.pagination > li > a, .pagination > li > span {
	background: #ebe9eb;
	color: #999;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: #50b9ce;
	background: #50b9ce;
	color: #fff;
}
.consultup-breadcrumb-title h1 {
	color: #fff;
}
.consultup-page-breadcrumb > li a {
	color: #fff;
}
.consultup-page-breadcrumb > li a:hover, .consultup-page-breadcrumb > li a:focus {
	color: #50b9ce;
}
.consultup-page-breadcrumb > li + li:before {
	color: #fff;
}
/*==================== blog ====================*/
.consultup-comments .consultup-reply:hover, .consultup-comments .consultup-reply:focus {
	color: #fff;
	background: #50b9ce;
	border-color: #50b9ce;
}
.consultup-heading-bor-bt h5 {
	color: #212121;
}
/*==================== footer background ====================*/
footer .overlay {
	background: #14152a;
}
footer .consultup-widget h6 {
	color: #fff;
}
footer .consultup-widget ul li {
	color: #646987;
}
footer .consultup-widget ul li a {
	color: #646987;
}
footer .consultup-widget ul li a:hover, footer .ti-widget ul li a:focus {
	color: #fff;
}
footer .ti-widget #calendar_wrap td, footer .ti-widget #calendar_wrap th, footer .ti-widget .calendar_wrap table caption {
    color: #f2f7fd;
	border-color: #eee;
}
footer .ti-footer-copyright {
	background: #1b1e41;
}
footer .ti-footer-copyright p, footer .ti-footer-copyright a {
	color: #aaaed1;
}
footer .ti-footer-copyright a:hover, footer .ti-footer-copyright a:focus {
	color: #fff;
}
footer .ti-widget p {
	color: #646987;
}
footer .ti-footer-copyright .ti-social-navigation a {
	color: #fff;
}
footer .ti-social-navigation a {
	background: rgba(255, 255, 255, 0.07);
	color: #fff;
}
footer .consultup-social-navigation a:hover, footer .consultup-social-navigation a:focus {
	border-color: #50b9ce;
	background: #50b9ce;
}
footer .consultup-social-navigation a:hover .icon, footer .consultup-social-navigation a:focus .icon {
	color: #fff;
}
footer .consultup-widget.widget_search .btn {
	color: #fff;
	background: #50b9ce;
	border-color: #50b9ce;
}
footer .consultup-widget.widget_search .btn:hover, footer .consultup-widget.widget_search .btn:focus {
	background: #002954;
	border-color: #002954;
}
footer .consultup-widget .consultup-widget-tags a:hover, footer .consultup-widget .tagcloud a:hover, footer .consultup-widget .consultup-widget-tags a:focus, footer .consultup-widget .tagcloud a:focus {
	color: #fff;
	background: #50b9ce;
}
.page-scroll-up {
	background: #6EB8CA;
	border-color: #6EB8CA;
	color: #fff !important;
}
.page-scroll-up:hover, .page-scroll-up:focus {
	color: #fff;
}
/*----woocommerce----*/ 
/*-theme-background-*/ 
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt[disabled]:disabled, .woocommerce #respond input#submit.alt[disabled]:disabled:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:hover {
	background: #50b9ce;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	background: #ebe9eb;
	color: #999;
}
/*-theme-color-*/ 
.woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page .products .added_to_cart, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	color: #50b9ce;
}
/*-theme-border-color-*/ 
.woocommerce-cart table.cart td.actions .coupon .input-text:hover, .woocommerce-cart table.cart td.actions .coupon .input-text:focus, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce nav .woocommerce-pagination ul li a:focus, .woocommerce nav .woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	border-color: #50b9ce;
}
.woocommerce .products span.onsale, .woocommerce span.onsale {
	background: #50b9ce;
}
.woocommerce-page .woocommerce-message a {
	background-color: #50b9ce;
}
/*woocommerce-Price-Slider*/ 
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background: #50b9ce;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background: #50b9ce;
}

.navigation.pagination .nav-links .page-numbers.current, .navigation.pagination .nav-links a:hover, a.error-btn { background-color: #50b9ce; color:#fff; }
/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	color: #fff;
}

.navigation.pagination > .active > a, .navigation.pagination > .active > a:hover, .navigation.pagination > li > a:hover, .navigation.pagination > li > a:focus, .navigation.pagination > .active > a, .navigation.pagination > .active > span, .navigation.pagination > .active > a:hover, .navigation.pagination > .active > span:hover, .navigation.pagination > .active > a:focus, .navigation.pagination > .active > span:focus {
    border-color: #50b9ce;
    background: #50b9ce;
    color: #fff;
}

.btn.btn-tislider:hover, .btn.btn-tislider:focus{
	background: #fff;
    color: #50b9ce;
}

blockquote {
    border-left: 5px solid #50b9ce;
}

.consultup-callout .overlay {
    background: rgba(80, 185, 206, 0.8);
}



/* our edits */

/* footer .consultup-footer-copyright {
	background: #1e2332;
} */

.consultup-breadcrumb-section .overlay {
	/* background: linear-gradient(to bottom, rgb(127,182,199) 0%, rgba(127,182,199, 0.5) 50%, rgba(127,182,199, 0.8) 100%); */
	/* background: none; */
}